@charset "UTF-8";

.ex-fieldset{
	width: 500px;
	margin: 20px auto;
	font-size: 20px;
	color: darkblue;
	border: 1px solid darkblue;
}

.ex-legend{
	font-size: 35px;
	color: dodgerblue;
	font-style: italic;
	cursor: pointer;
}

.ex-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px auto;
	text-align: center;
	align-items: center;
}
.ex-img-wrapper{
	margin-bottom: 5px;
}

.ex-text{
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.ex-subtitle{
	font-size: 25px;
	margin-top: 20px;
}

.ex-container{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.ex-sub{
	width: 20%;
}

.ex-con{
	width: 80%;
}

.ex-bottom{
	display: flex;
	flex-direction: column;
}

.views{
	width: 100%;
	margin: 10px 0px;
	border-top: 1px solid lightblue;
	border-bottom: 1px solid lightblue;
}

.views-row{
	display: flex;
	flex-direction: row;	
	margin: 2px 0px;
	padding: 2px 4px;
}

.views-row2{
	display: flex;
	flex-direction: row;	
	margin: 2px 0px;
	padding: 2px 4px;
	font-size: 25px;
}

.view-memo{
	flex: 10 1 auto;
	text-align: left;
}

.view-auth{
	flex: 1 1 auto;
	text-align: right;
}

.ex-form-container{
	display: flex;
	margin: 2px 0px;
}

.btn-submit {
	padding: 2px 4px;
	background-color: dodgerblue;
	border: none;
	color: white;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	transition-duration: 0.3s;
}

.btn-submit:hover {
	background-color: lightblue;
	color: darkblue;
}

#m_auth{
	flex: 0 2 auto;
	margin: 2px;
	padding: 2px 4px;
	font-size: 18px;
}

#m_memo{
	flex: 15 1 auto;
	margin: 2px;
	padding: 2px 4px;
	font-size: 18px;
}

#m_grade{
	flex: 1 1 auto;
	margin: 2px;
	padding: 2px 4px;
	font-size: 18px;
}























