@charset "UTF-8";

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Hi Melody', cursive;
}

body {
	margin: 0;
	padding: 0;
}

header {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	height: 200px;
	margin: 0;
	padding: 0;
	background-color: white;
	text-align: center;
	opacity: 0.9;
}

nav {
	text-align: center;
	background-color: dodgerblue;
}

.main-btn {
	padding: 8px 16px;
	background-color: inherit;
	border: none;
	color: white;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	transition-duration: 0.3s;
}

.main-btn:hover {
	background-color: lightblue;
	color: darkblue;
}

.login-btn {
	padding: 8px 16px;
	background-color: inherit;
	border: none;
	color: white;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	transition-duration: 0.3s;
}

.login-btn:hover {
	background-color: lightblue;
	color: darkblue;
}

.admin-btns {
	padding: 8px 16px;
	background-color: inherit;
	border: none;
	color: white;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	transition-duration: 0.3s;
}

.admin-btns:hover {
	background-color: lightblue;
	color: darkblue;
}

section {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	z-index: 50;
	margin: 0;
	padding: 0;
	margin-bottom: 200px;
	background-color: white;
}

footer {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	margin: 0;
	padding: 0;
	height: 200px;
	text-align: center;
}

.btn-home{
	cursor: pointer;
}

.section-middle{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
	width: 80%;
}

.main-search{
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	margin: 20px;
	text-align: center;	
	font-size: 50px;
}

#b_search{
	width: 300px;
	padding: 0.5rem;
	margin: 5px;
	color: darkblue;
	font-size: 30px;
}

.btn-search {
	padding: 2px 4px;
	margin: 5px;
	background-color: dodgerblue;
	border: none;
	color: white;
	outline: 1px solid dodgerblue;
	cursor: pointer;
	font-size: 30px;
	transition-duration: 1s;
}

.btn-search:hover {
	outline: 1px solid rgba(255,255,255,0);
	outline-offset: 10px;
}

.main-title{
	padding: 0.5rem;
	margin: 50px;
	color: darkblue;
	text-align: center;
	font-size: 40px;
	font-style: italic;
}

.re-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.re-wrapper{
	display: flex;
	flex-direction: column;
}

.main-img-wrapper{
	width: 460px;
	height: 370px;
	overflow: hidden;
	margin: 5px;
	cursor: pointer;
	outline: 1px solid lightblue;
	outline-offset: 4px;
}

.main-img{
	overflow: hidden;
}

.main-img:hover{
	animation: changeScale 2s;
}

.main-text{
	width: 460px;
	height: 370px;
	color: dodgerblue;
	font-size: 20px;
	margin: 5px;
}

.p-title{
	font-size: 25px;
	font-style: italic;
	color: dodgerblue;
}

.rc-wrapper{
	display: flex;
	flex-direction: column;
}

.rc-container{
	display: flex;
	flex-flow: column;
	margin: 5px;
	text-align: center;
	color: dodgerblue;
	font-size: 25px;
}

.rc-container b{
	color: darkblue;
}

.rc-container p{
	margin: 0px;
	padding: 0px;
}

.num-container{
	margin-top: 50px;
	color: darkblue;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}

.num-container span{
	display: inline-block;
	margin: 2px 4px;
	padding: 2px 4px;
}


















